/* 
    Document   : errp
    Created on : 24/01/2013, 02:10:44
    Author     : Fellipe
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: tahoma;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-190px;
    margin-left:-350px;
}
