<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>user</param-name>
        <param-value>b219</param-value>
    </context-param>
    <context-param>
        <param-name>senha</param-name>
        <param-value>b219</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <!--<param-value>jdbc:oracle:thin:@192.168.3.7:1521:XE</param-value>-->
        <param-value>jdbc:oracle:thin:@aula.inf.poa.ifrs.edu.br:1521:XE</param-value>
    </context-param>
    <servlet>
        <servlet-name>trataCadastroPessoa</servlet-name>
        <servlet-class>control.trataCadastroPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trataIndex</servlet-name>
        <servlet-class>control.trataIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trataListaAtividade</servlet-name>
        <servlet-class>control.trataListaAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trataCadastroAtividade</servlet-name>
        <servlet-class>control.trataCadastroAtividade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trataCadastroPessoa</servlet-name>
        <url-pattern>/trataCadastroPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trataIndex</servlet-name>
        <url-pattern>/trataIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trataListaAtividade</servlet-name>
        <url-pattern>/trataListaAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trataCadastroAtividade</servlet-name>
        <url-pattern>/trataCadastroAtividade</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
