<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- Conexao -->
    <context-param>
        <param-name>user</param-name>
        <param-value>ativcomp</param-value>
    </context-param>
    <context-param>
        <param-name>senha</param-name>
        <param-value>102030</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@192.168.3.7:1521:XE</param-value>
        <!--<param-value>jdbc:oracle:thin:@aula.inf.poa.ifrs.edu.br:1521:XE</param-value>-->
    </context-param>
    <!-- Servlets -->
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>control.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trataErro</servlet-name>
        <servlet-class>control.trataErro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trataErro</servlet-name>
        <url-pattern>/trataErro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/erro404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro500.html</location>
    </error-page>    
    <error-page>
        <error-code>501</error-code>
        <location>/erro501.html</location>
    </error-page>  
    <!-- Pagina inicial -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
